.btnOpenChat{
    position: fixed;
    bottom: 10px;
    right: 10px;

    height: 60px;
    width: 60px;
    border-radius: 50%;

    font-size: 25px;
    background-color: #495057;
    color: white;
    transition: background-color 0.3 ease;
    align-items: center;
    justify-content: center;
}

.btnOpenChat:hover{
    cursor: pointer;
    background-color: #38adbd; 
}

.ChatPopup{
    
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: 1px solid #ddd;

    width: 100%;
    max-width: 400px;
    height: 500px;


    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    z-index: 1000;
}

.CWHeader{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 0 0;
    background-color: #495057;
    
}

.CWText{
    color: #38adbd;
    font-weight: bold;
    text-decoration: solid;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.btnCloseChat{
    background: red;
    color: white;
    font-size: 15px;
    border: 1px solid #38adbd;
    cursor: pointer;
}

.txtArea{
    flex-grow: 1;
    max-height: 400px;
   
    overflow-y: auto;
    padding: 10px;
    height: 80%;

    background: linear-gradient(to right, #38adbd, #00050a);
    border-bottom: 2px solid #ddd;
}


.txtMessages {
    padding: 8px 10px;
    margin: 5px 0;
    border-radius: 10px;
    max-width: 80%;
    word-wrap: break-word;
}


.userChat {
    background-color: #007bff;
    color: white;
    align-self: flex-end;
 
}


.botChat {
    background-color: #f1f1f1;
    color: black;
    align-self: flex-start;
}



.CWFooter{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    
}

.CWInput{
    border: none;
    outline: none;

    width: 320px;

    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.btnSendMessage{
    background: #38adbd;
    color: white;

    padding-right: 7px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    
    border-radius: 8px;
    border: 1px solid #38adbd;
    
    cursor: pointer;
}


@media (max-width: 600px) {
    .ChatPopup {

        bottom: 5px;
        right: 10px;
       
        width: 95%;
         
        flex-direction: column;
        z-index: 1000;
}
    }

    .txtArea {
        max-height: 500px; 
    }



    .txtMessages {
        width: calc(100% - 10px); 
        word-wrap: break-word;

        
    }
    .CWInput{
        border: none;
        outline: none;
    
        width: 320px;
    
        font-size: 15px;
        font-family: 'Times New Roman', Times, serif;
    }

    .btnSendMessage{
        padding: 8px; /* Adjust button size */
    }
}